<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    
      More than seven &middot; Gareth Rushgrove
    
  </title>

  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-435455-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>



  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>


  <body>

    <div class="sidebar">
   <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=morethansevennet" id="_carbonads_js"></script>

   <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          More than seven
        </a>
      </h1>
      <p class="lead">Writing about code. Occasional other topics. Made by <a href="https://twitter.com/garethr">@garethr</a>.</p>
    </div>
  </div>
</div>


    <div class="content container">
      <div class="posts">
  
  <div class="post">
    <h1 class="post-title">
      <a href="/2010/06/19/Dibi-video/">
        Dibi Video
      </a>
    </h1>

    <span class="post-date">19 Jun 2010</span>

    <p><object width="400" height="225"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=12613643&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=12613643&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="225"></embed></object></p>
<p>The videos from the <a href="http://www.dibiconference.com/"><span class="caps">DIBI</span></a> conference are now up on <a href="http://vimeo.com/groups/48480/videos">Vimeo</a>. Lots of good stuff and more to come. The one disadvantage of a a two track conference is you miss half the talks so when I get a chance I&#8217;ll be catching up with those talks I didn&#8217;t get chance to see.</p>
  </div>
  
  <div class="post">
    <h1 class="post-title">
      <a href="/2010/06/01/Very-simple-custom-ganglia-metrics/">
        Very Simple Custom Ganglia Metrics
      </a>
    </h1>

    <span class="post-date">01 Jun 2010</span>

    <p>Logging useful information from running systems for monitoring purposes is pretty important if you want to see how your software is behaving in the real world. It&#8217;s one thing to test something locally, another to test something under load on a testing environment and quite something else to watch production code while running.</p>
<p>The numbers can be useful for checking newly released code isn&#8217;t having a detrimental effect on performance, observing what changes in load are doing to systems over time and planning for future capacity growth.</p>
<p>Creating log files, agregating files from multiple machines and then analysing the results is one approach. Another is using something like <a href="http://ganglia.sourceforge.net/">Ganglia</a>. Ganglia is great for trending data over time, and ties in nicely to Nagios for reporting. Installing the monitoring daemon on machines and generally getting the default checks (memory, disk, network, etc.) up and running is nice and easy. From there using the gmetric command line to create custom metrics (say checking some mysql statistics) is again straight forward.</p>
<p>So far, so good. The only issue I&#8217;ve run into was creating custom metrics on the fly from a machine outside the network. For bonus points these metrics were nothing to do with the machine on which they were collected, but to do with the system overall. More specifically the metrics were web site performance data gathered via some cucumber and <a href="http://celerity.rubyforge.org/">celerity</a> scripts.</p>
<p>For this I knocked up a tiny web service wrapper around the gmetric command line. It&#8217;s very feature light at the moment (I only needed it to collect time based stats at regular intervals) but it could be made more featureful and expose the rest of the gmetric <span class="caps">API</span> if needs be. It does it using a very simple <span class="caps">URL</span> scheme:</p>
<% syntax_colorize :bash, type=:coderay do %>
/{metric-name}/{metric-value}/ 
<% end %>
<p>So for example I can create metrics on the fly simply using an <span class="caps">HTTP</span> client or a web browser.</p>
<% syntax_colorize :bash, type=:coderay do %>
/GarethsCommuteTime/3600/
/ExternalPageLoad/2.005/
<% end %>
<p>The <a href="http://github.com/garethr/gmetric-web">code is up on GitHub</a> and is completely self contained. I&#8217;ve been running it mainly using spawning but any small <span class="caps">WSGI</span> server could surfice. I looked very briefly at the <span class="caps">API</span> for Ganglia but found the gmetric approach to be much simpler.</p>
<p>And if you&#8217;re a Ganglia expert and know a much better way of doing this then let me know. Ganglia is awesome, and collecting metrics is both useful and fun (for me at least) but it&#8217;s not always obvious how to get into creating simple custom metrics which tell you something about your own appliction code.</p>
  </div>
  
  <div class="post">
    <h1 class="post-title">
      <a href="/2010/05/26/Devops-twitter-aggregator/">
        Devops Twitter Aggregator
      </a>
    </h1>

    <span class="post-date">26 May 2010</span>

    <p>I&#8217;ve been hacking on appengine again and have thrown up a simple <a href="http://devopstweets.appspot.com/">twitter aggregator for devops</a>. It&#8217;s again based on <a href="http://github.com/steffentchr/twitterengine">TwitterEngine</a> with an increasing number of additions and changes.</p>
<p>As well as just the tweets I want to build a few other small features. The first of which is link extraction, so at the moment you&#8217;ll see recent links a the top of the page. I&#8217;ll hopefully make that a little more useful, with better browing and converting short urls into the real ones. I also have vague plans for providing exports, listing people talking about devops and some useful graphs to track general activity around devops.</p>
<img src="http://image-host.appspot.com/i/img?id=agppbWFnZS1ob3N0cg0LEgVJbWFnZRjphAEM" alt="Devops aggregator on Twitter"
<p>I&#8217;m really interested to see if the whole discussion around the term devops grows over the next year or so, and I&#8217;m hoping this will make it a little easier to see that change happen.</p>
  </div>
  
  <div class="post">
    <h1 class="post-title">
      <a href="/2010/05/18/Installing-integrity-on-debianubuntu/">
        Installing Integrity On Debian/Ubuntu
      </a>
    </h1>

    <span class="post-date">18 May 2010</span>

    <p>I&#8217;ve been playing with <a href="http://integrityapp.com">Integrity</a> again as a simple continuous integration server and have installed it on a few debian and ubuntu machines in the last few weeks. The current site has good installation instructions for the Ruby side of things but leaves it as an excercise for the installer to make sure all the system level dependencies are installed.</p>
<p>So probably as much for me in the future, here is what I had to install to get the installation instructions to work for me.</p>
<% syntax_colorize :bash, type=:coderay do %>
apt-get install build-essential
apt-get install ruby
apt-get install rdoc
apt-get install sqlite3
apt-get install libdbd-sqlite3-ruby
apt-get install libdataobjects-sqlite3-ruby1.8 
apt-get install libsqlite3-dev
apt-get install libxml2
apt-get install libxml2-dev
apt-get install libxsl-dev
apt-get install libopenssl-ruby
<% end %>
<p>I also needed to install the following package on Ubuntu:</p>
<% syntax_colorize :bash, type=:coderay do %>
apt-get install ruby1.8-dev
<% end %>
<p>If you want to use a database other than the default SQLite then you won&#8217;t need those packages and I&#8217;ll assume you know what you&#8217;re doing.</p>
  </div>
  
  <div class="post">
    <h1 class="post-title">
      <a href="/2010/04/29/Youre-going-to-need-a-bigger-toolbox/">
        You're Going To Need A Bigger Toolbox
      </a>
    </h1>

    <span class="post-date">29 Apr 2010</span>

    <p>I&#8217;m just getting back from Newcastle after getting to present at the first Design It Build It conference. It was great to be back up in Newcastle and to see lots of familiar faces. As with most conferences it was also good to meet new people (especially those for whom it was their first conference) and to listen to people talking about interesting stuff. Personal highlights for me were David Singleton from Last.fm and Michael Brunton Spall from The Guardian going through really interesting case studies from their respective organisations. It&#8217;s the sort of gritty content it&#8217;s often hard to come by. Speaking did mean I missed out on most of the design track unfrotunately, but videos should be available soon and by all accounts it sounds like the larger designer crowd went home happy.</p>
<p><object id="__sse3884141" width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=biggertoolbox-100428092640-phpapp02&stripped_title=youre-going-to-need-a-bigger-toolbox" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse3884141" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=biggertoolbox-100428092640-phpapp02&stripped_title=youre-going-to-need-a-bigger-toolbox" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object></p>
<p>I think my presentation at <a href="http://dibiconference.co.uk"><span class="caps">DIBI</span></a> went OK. I&#8217;d got a little bit carried away with cramming content in, which meant it felt rushed at times and I still went over by 5 minutes into my Q&amp;A time. But hey, a few people said nice things afterwards.</p>
<p>I wanted to tell the world (of web developers) about as many different tools as I could. I think most people who read this blog have probably come across most of this software, heck you might be commiting code to it or already using it in production. But lots of people haven&#8217;t ever heard of Memcached, never mind Cassandra or RabbitMQ. And more inportant than the specific software is the differnt types of tools available. Small web servers, message queues, <span class="caps">HTTP</span> caches, etc. Conferences are a good place to find and educate people. Hopefully I managed to do just that.</p>
<p>One thing I hope I got across, I&#8217;m not for a moment saying you shouldn&#8217;t be using tools you know and love. Nor am I saying you should jump in and start using lots of crazy software. But keeping an eye on new developments can serve you well when it comes to deciding whether the best approach is really to build something from scratch. I&#8217;ve spoken to several people over the last few weeks who where starting to write simple queing systems using cron and mysql, or using a hand rolled file system based caching setup. And in both cases I think they would be better served by existing tools.</p>
<p>My slides had <em>a lot</em> of links in them and I mentioned during my talk I&#8217;m put a list of them somewhere:</p>
<h2>Small Web Servers</h2>
<ul>
	<li>Nginx &#8211; <a href="http://wiki.nginx.org">http://wiki.nginx.org</a></li>
	<li>Thin &#8211; <a href="http://code.macournoyer.com/thin/">http://code.macournoyer.com/thin/</a></li>
	<li>Mongrel &#8211; <a href="http://github.com/fauna/mongrel/">http://github.com/fauna/mongrel/</a></li>
	<li>Spawning &#8211; <a href="http://pypi.python.org/pypi/Spawning/">http://pypi.python.org/pypi/Spawning/</a></li>
	<li>Unicorn &#8211; <a href="http://github.com/defunkt/unicorn/">http://github.com/defunkt/unicorn/</a></li>
</ul>
<h2>Caching</h2>
<ul>
	<li>Memcached &#8211; <a href="http://memcached.org">http://memcached.org</a></li>
	<li>Squid &#8211; <a href="http://www.squid-cache.org">http://www.squid-cache.org</a></li>
	<li>Varnish &#8211; <a href="http://varnish-cache.org">http://varnish-cache.org</a></li>
</ul>
<h2>Search Engines</h2>
<ul>
	<li>Solr &#8211; <a href="http://lucene.apache.org/solr/">http://lucene.apache.org/solr/</a></li>
	<li>Xapian &#8211; <a href="http://xapian.org">http://xapian.org</a></li>
	<li>Sphinx &#8211; <a href="http://sphinxsearch.com">http://sphinxsearch.com</a></li>
	<li>Nutch &#8211; <a href="http://lucene.apache.org/nutch/">http://lucene.apache.org/nutch/</a></li>
	<li>Whoosh &#8211; <a href="http://whoosh.ca">http://whoosh.ca</a></li>
</ul>
<h2>Message Queues</h2>
<ul>
	<li>RabbitMQ &#8211; <a href="http://rabbitmq.com">http://rabbitmq.com</a></li>
	<li>Apache ActiveMQ &#8211; <a href="http://activemq.apache.org">http://activemq.apache.org</a></li>
	<li>Beanstalk &#8211; <a href="http://kr.github.com/beanstalkd/">http://kr.github.com/beanstalkd/</a></li>
	<li>Stomp Server &#8211; <a href="http://stomp.codehaus.org">http://stomp.codehaus.org</a></li>
	<li>MemcacheQ &#8211; <a href="http://memcachedb.org/memcacheq/">http://memcachedb.org/memcacheq/</a></li>
</ul>
<h2>Non-relational Data Stores</h2>
<ul>
	<li>CouchDB &#8211; <a href="http://couchdb.apache.org">http://couchdb.apache.org</a></li>
	<li>MongoDB &#8211; <a href="http://www.mongodb.org">http://www.mongodb.org</a></li>
	<li>Tokyo Tyrant &#8211; <a href="http://1978th.net/tokyotyrant/">http://1978th.net/tokyotyrant/</a></li>
	<li>Cassandra &#8211; <a href="http://cassandra.apache.org">http://cassandra.apache.org</a></li>
	<li>Redis &#8211; <a href="http://code.google.com/p/redis/">http://code.google.com/p/redis/</a></li>
</ul>
<h2>Data Mining</h2>
<ul>
	<li>Hadoop &#8211; <a href="http://hadoop.apache.org">http://hadoop.apache.org</a></li>
	<li>Hive &#8211; <a href="http://wiki.apache.org/hadoop/Hive/">http://wiki.apache.org/hadoop/Hive/</a></li>
	<li>Pig &#8211; <a href="http://hadoop.apache.org/pig/">http://hadoop.apache.org/pig/</a></li>
	<li>Dumbo &#8211; <a href="http://lastfm.com/dumbo/">http://lastfm.com/dumbo/</a></li>
	<li>Disco &#8211; <a href="http://discoproject.org">http://discoproject.org</a></li>
</ul>
<h2>Functional Testing</h2>
<ul>
	<li>Cucumber &#8211; <a href="http://cukes.info">http://cukes.info</a></li>
	<li>Cucumber-Nagios &#8211; <a href="http://auxesis.github.com/cucumber-nagios/">http://auxesis.github.com/cucumber-nagios/</a></li>
</ul>
<h2>Server Provisioning</h2>
<ul>
	<li>Puppet &#8211; <a href="http://puppetlabs.com">http://puppetlabs.com</a></li>
	<li>Chef &#8211; <a href="http://wiki.opscode.com/display/chef/Home/">http://wiki.opscode.com/display/chef/Home/</a></li>
</ul>
  </div>
  
</div>

<div class="pagination">
  
    <a class="pagination-item older" href="/page19">Older</a>
  
  
    
      <a class="pagination-item newer" href="/page17">Newer</a>
    
  
</div>
    </div>

  </body>
</html>
